@font-face {
  font-family: 'nerde';
  src: url('../font/nerde.eot?68828905');
  src: url('../font/nerde.eot?68828905#iefix') format('embedded-opentype'),
       url('../font/nerde.woff2?68828905') format('woff2'),
       url('../font/nerde.woff?68828905') format('woff'),
       url('../font/nerde.ttf?68828905') format('truetype'),
       url('../font/nerde.svg?68828905#nerde') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nerde';
    src: url('../font/nerde.svg?68828905#nerde') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nerde";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-attention:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-eye-off:before { content: '\e802'; } /* '' */
.icon-ccw:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e83d'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
