#history {
  color: #fff;
  overflow-y: scroll;
  margin: 0;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
