#toolbar {
  align-items: center;
  background-color: var(--toolbar-background-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex: 0 0 auto;
  height: 2.25rem;
  padding: 0 0.25rem;
}
