@import (inline) '/node_modules/sanitize.css/sanitize.css';

@font-face {
  font-family: 'Fontello';
  src: url('../assets/fonts/font/nerde.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html,
#nerdeFocus {
  height: 100%;
  font-size: 12px;
  font-family: 'Helvetica Neue', sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &.light {
    color-scheme: light;
    --primary-color: #383737;
    --border-color: #d3e3fd;
    --background-color: #fff;
    --toolbar-background-color: #fff;
    --toolbar-hover-color: color-mix(
      in srgb,
      var(--primary-color) 8%,
      transparent
    );
    --toolbar-active-color: #1b6ef3;
    --attention-color: #dc362e;
    --shadow-color: color-mix(in srgb, var(--primary-color) 10%, white);
    --highlight-color: color-mix(in srgb, var(--border-color) 25%, transparent);
  }

  &.dark {
    color-scheme: dark;
    --primary-color: #c7c7c7;
    --border-color: #494c50;
    --background-color: #202124;
    --toolbar-background-color: #292a2d;
    --toolbar-hover-color: color-mix(
      in srgb,
      var(--primary-color) 8%,
      transparent
    );
    --toolbar-active-color: #7cacf8;
    --attention-color: #e46962;
    --shadow-color: color-mix(in srgb, var(--primary-color) 10%, black);
    --highlight-color: color-mix(in srgb, var(--border-color) 25%, transparent);
  }

  background-color: var(--background-color);
  height: 100%;
}
