@import (inline) "/node_modules/sanitize.css/sanitize.css";

@font-face {
  font-family: "Fontello";
  src: url("../assets/fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body,
html,
#nerdeFocus {
  height: 100%;
  font-size: 12px;
  font-family: system-ui, -apple-system, sans-serif;
}

#wrapper {
  &.light {
    --primary-color: #191919;
    --border-color: #CBCDD1;
    --background-color: #FFF;
    --toolbar-background-color: #F1F3F4;
  }

  &.dark {
    --primary-color: #fff;
    --background-color: #191919;
  }

  background-color: var(--background-color);
  height: 100%;
}
